{% load static %}
                    <div class="lg:w-5/12">

                        <div class="bg-white  shadow-md rounded-md overflow-hidden">

                            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                                <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                                <a href="javascript:location.reload(true)"> Refresh</a>
                            </div>

                            <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">

                                {% for suggestion in user_friends_suggestions %}
                                <div class="flex items-center justify-between py-3">
                                    <div class="flex flex-1 items-center space-x-4">
                                        <a href="{{suggestion.get_absolute_url}}">
                                            <img src="{{suggestion.profileimg.url}}" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex flex-col">
                                            <span class="block capitalize font-semibold"> {{suggestion.user}} </span>
                                        </div>
                                    </div>

                                    <a href="/profile/{{suggestion.user}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 "> Follow </a>
                                </div>
                                {% endfor %}


                            </div>

                        </div>



                    </div>

                </div>