{% extends 'core/base.html' %}
{% load static %}
{% load user_friends_suggestions %}


{% block title %} Messages {% endblock title %}

{% block sidebar %}
    {% user_friends_suggestions user.id %}
{% endblock sidebar %}

{% block content %}
    <div class="space-y-5 flex-shrink-0 lg:w-7/12 mb-5">
        {% if not chats %}
            <div class="center-align border rounded-xl bg-slate-200">
                <span class="px-2 py-1 text-gray-600">There is no chats. Start chat with your friends!</span>
            </div>
        {% else %}
            {% for chat in chats %}
                <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0 py-2 px-2 svg-messages-show">
                    {% for user in chat.get_users %}
                        {% if request.user.username != user.username %}
                        {% with last_message=chat.get_last_message %}
                            <a href="{% url 'chat' chat.id %}">
                                <div class="flex">

                                    <div class="shrink-0 pr-2 flex items-center basis-14">
                                        <img src="{{user.profiles.first.profile_img.url}}" class="bg-gray-200 border border-white rounded-full w-12 h-12 object-cover">
                                    </div>

                                    <div class="basis-full hover:bg-slate-100">

                                        <div class="font-semibold px-2 pb-2 flex justify-between">
                                            <div class="basis-2/4">
                                                {{user.username}}
                                            </div>
                                            <div class="">
                                                {{ last_message.date_added|date:'d-m-Y H:i' }}
                                            </div>

                                            {% if last_message %}
                                           <div class="svg-messages-hide">
                                                <form action="{% url 'clear-chat' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{chat.id}}" name="chat_id">
                                                    <button title="Clear history">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:fill-gray-300">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m6 4.125l2.25 2.25m0 0l2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                                                        </svg>

                                                    </button>
                                                </form>
                                            </div >
                                            {% endif %}

                                            <div class="svg-messages-hide">
                                                <form action="{% url 'delete-chat' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{chat.id}}" name="chat_id">
                                                    <button title="Delete dialog">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:fill-gray-300">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        {% if last_message %}
                                            <div class="bg-white shadow rounded-md mx-2 py-2 mb-2 flex">
                                            {% if request.user == last_message.user %}
                                            <div class="shrink-0 pl-2">
                                                <img src="{{last_message.get_author_photo}}" class="bg-gray-200 border border-white rounded-full w-8 h-8 object-cover">
                                            </div>
                                            {% endif %}
                                            <div class="items-center basis-full pl-2"> {{ last_message.content|truncatechars:44 }}</div>
                                            </div>

                                        {% else %}
                                            <div class="items-center basis-full pl-2 italic font-thin text-slate-600 text-center"> There is no messages yet.</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>

                        {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        {% if chats %}
            <nav class="flex justify-center mb-3" aria-label="Page navigation example">
                <ul class="flex items-center -space-x-px h-10 text-base">
                    {% if chats.has_previous %}
                        <li>
                        <a href="?page={{ chats.previous_page_number }}" class="flex items-center justify-center rounded-xl px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
                            <span class="sr-only">Previous</span>
                            <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                        </a>
                        </li>
                    {% endif %}

                    {% for p in chats.paginator.page_range %}
                        {% if chats.number == p %}
                            <li>
                                <a href="?page={{ p }}" aria-current="page" class="z-10 flex items-center justify-center rounded-xl px-4 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700">{{ p }}</a>
                            </li>
                        {% else %}
                            <li>
                            <a href="?page={{ p }}" class="flex items-center justify-center px-4 h-10 leading-tight rounded-xl text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if chats.has_next %}
                    <li>
                    <a href="?page={{ chats.next_page_number }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 rounded-xl bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                        <span class="sr-only">Next</span>
                        <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                    </a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        {% endif %}
    </div>
    

{% endblock content %}