{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% load tags %}
{% load user_friends_suggestions %}

{% block title %} Dialog with
    {% for member in chat.members.all %}
        {% if member.username != request.user.username %}
            {{ member.username }}
        {% endif %}
    {% endfor %}
{% endblock title %}

{% block sidebar %}
    {% user_friends_suggestions user.id %}
{% endblock sidebar %}

{% block content %}
    <div class="space-y-5 flex-shrink-0 lg:w-7/12" >

        <div id="chat-messages" style="height:400px; overflow-y:auto;">
            {% include 'chat/chat_ajax.html' %}
        </div>

        <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0 py-2 px-2">
            <form method="post" action="." class="flex">
                {% csrf_token %}
                <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message" id="chat-message-input">
                <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-message-submit">
                    Submit</button>
            </form>
        </div>

    </div>

{% endblock content %}

{% block script %}

{{ chat.id|json_script:"json-chatid" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const chatId = JSON.parse(document.getElementById('json-chatid').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    var csrf_token = '{{ csrf_token }}';
    var delete_message_url = '{% url 'delete-message' %}';
</script>

<script type="text/javascript" src="{% static 'js/messages.js' %}"></script>
<script type="text/javascript" src="{% static 'js/load-messages.js' %}"></script>

{% endblock script %}