{% url 'users:profile' message_item.author.username as the_user_url%}

<div class="list-group-item {% if not message_item.is_readed %}unreaded{% endif %}">
    <div class="message-in-block">
        <div class="message-grid">
            <div>
                <a href="{{ message_item.get_absolute_url }}"><img class="profile-image" src="{{ message_item.get_avatar }}"></a>
            </div>

            <div class="user-data-message">
                <div class="user-data">
                    <div class="p-user"><a href="{{ message_item.get_absolute_url }}">{{ message_item.author.username }}</a></div>
                    <div class="p-data">{{ message_item.pub_date|utc }}</div>
                </div>
                <div class="p-message">{{ message_item.message|safe }}</div>
            </div>

        </div>
    </div>
</div>

