{% extends 'core/base.html' %}
{% load static %}
{% load user_friends_suggestions %}

{% block title %} Edit post {% endblock title %}

{% block sidebar %}
    {% user_friends_suggestions user.id %}
{% endblock sidebar %}

{% block content %}
<div class="space-y-5 flex-shrink-0 lg:w-7/12">
    <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">

        <div class="flex justify-between items-center px-4 py-3">
            <div class="flex flex-1 items-center space-x-4">
    <!--                                    <a href="#">-->
    <!--                                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">  -->
    <!--                                            <img src="{{user_profile.profile_img.url}}" class="bg-gray-200 border border-white rounded-full w-8 h-8">-->
    <!--                                        </div>-->
    <!--                                    </a>-->
                <span class="block font-semibold "> <a href="/profile/{{post.user}}">@{{user.username}}</a> </span>
            </div>
            <div class="edit-buttons">
                <div>
                    <form action="/delete-post" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{user.id}}" name="user_id">
                        <input type="hidden" value="{{post.id}}" name="post_id">
                        <button class="px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md " type="submit">
                        <i class="uil-trash-alt mr-1"></i>
                            Delete
                        </button>
                    </form>
                </div>

                <div>
                    <form action="{% url 'profile' username=user.username %}">
                        <button class="px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md " type="submit">
                        <i class="uil-exit mr-1"></i>
                            Exit
                        </button>
                    </form>

                </div>

            </div>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{user.id}}" name="user_id">
        <input type="hidden" value="{{post.id}}" name="post_id">

        <div class="py-3 px-4 space-y-3">
    <!--        <div class="post_size">-->
    <!--            <img src="{{post.image.url}}" alt="" align="center" class="post_image">-->
    <!--        </div>-->

            {% for field in edit_post_form %}
                <div class="fieldWrapper">


                    {{ field.errors }}
                    {{ field.label_tag }}



                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
                <div class="flex items-center justify-end mx-2">
                    <button class="button bg-blue-700" type="submit">Save</button>
                </div>
        </div>

    </form>

    </div>

</div>
{% endblock content %}
