{% extends 'core/base.html' %}
{% load static %}
{% load user_friends_suggestions %}

{% block title %} Favorites posts {% endblock title %}

{% block sidebar %}
    {% user_friends_suggestions user.id %}
{% endblock sidebar %}

{% block content %}
    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

        {% if user_favorite_posts %}
            <div class="row" id="post_list">
                {% for post in user_favorite_posts reversed %}
                    <div class="posts-margin">
                        {% include 'core/include/author_post_like_comments.html' %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="center-align border rounded-xl bg-slate-200 " id="end_posts">
                <span class="text-gray-600">There is no favorites posts yet.</span>
            </div>
        {% endif %}


    </div>

{% endblock content %}

{% block script %}
<script src="{% static 'js/get_csrf.js' %}"></script>
<script src="{% static 'js/post_js_functions.js' %}"></script>
{% endblock %}