{% extends 'core/base.html' %}
{% load static %}
{% load user_friends_suggestions %}

{% block title %} {{page_owner_profile}} following {% endblock title %}

{% block sidebar %}
    {% user_friends_suggestions user.id %}
{% endblock sidebar %}

{% block content %}

<div class="space-y-5 flex-shrink-0 lg:w-7/12 bg-white shadow" style="">
    <div id="profiles-wrap" class=" m-3">
        {% if not user_following %}
            <div class="border rounded-xl bg-slate-200">
                <span class="px-2 py-1 text-gray-600"> No following yet. <a href="/search?search_user=" class="text-gray-800"> Follow new people. </a> </span>
            </div>
        {% endif %}

        {% for following_user_profile in user_following %}
        
         <div class="pb-3 mb-3 border-b-4">
            <div class="flex ">
                
                <div class="basis-3/12">
                    <a href="{% url 'profile' following_user_profile %}"> <img src="{{following_user_profile.profileimg.url}}" class="object-cover bg-gray-200 border border-white rounded-full w-32 h-32"> </a>
                </div>

                <div class="ml-3 basis-9/12">
                    <div class="font-semibold">
                        {{following_user_profile}}
                    </div>
                    
                    <div class="flex justify-around">
                        {% if following_user_profile.user_id == request.user.id %}
                        <div class="font-semibold">
                            It is you.
                        </div>
                        {% else %}
                        <div class="">
                            <a class=" block px-2 py-2 rounded-xl text-white bg-teal-600 hover:text-white hover:bg-teal-700" href="{% url 'profile' following_user_profile %}">View profile</a>
                        </div>
                        <div class="">
                            <form action="{% url 'start-dialog' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ follower_user_profile.id }}" name="page_owner_id">
                                <button class="block px-2 py-2 rounded-xl text-white bg-teal-600 hover:text-white hover:bg-teal-700">
                                    Message
                                </button>
                            </form>
                        </div>
                        <div class=" flex">
                            <button id="btn-follow-unfollow" class="px-2 py-2 rounded-xl text-white bg-red-900 hover:bg-red-500 w-24" data-userid="{{ following_user_profile.user_id }}">Unfollow</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            
            </div>

            
        </div>
        {% endfor %}
    </div>
    
</div>


{% endblock content %}

{% block script %}
<script src="{% static 'js/get_csrf.js' %}"></script>
<script src="{% static 'js/follow_unfollow.js' %}"></script>
{% endblock %}