{% extends 'core/base.html' %}
{% load static %}

{% block title %} News {% endblock title %}

{% block sidebar %}
    {% include 'core/include/sidebar_users.html' %}
{% endblock sidebar %}

{% block content %}
    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

        <div class="row" id="post_list">
            {% include 'core/index_ajax.html' %}
        </div>

        <div class="center-align" id="end_posts">
            This is all posts for now. Follow new people to see more posts.
        </div>

        <div class="row">
            <div class="col m12 s12 center-align">
                <button class="btn waves-effect waves-light" id="lazy_more">
                    More posts
                </button>
            </div>
        </div>

    </div>

{% endblock content %}

{% block script %}
<script src="{% static 'js/posts_load.js' %}"></script>
{% endblock %}