{% extends 'core/base.html' %}
{% load static %}

{% block title %} News {% endblock title %}

{% block sidebar %}
    {% include 'core/include/sidebar_users.html' %}
{% endblock sidebar %}

{% block content %}
    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

        <div class="row" id="post_list">
            {% include 'core/index_ajax.html' %}
        </div>

        <div class="center-align border rounded-xl bg-slate-200 " id="end_posts">
            <span class="text-gray-600">This is all posts for now. Follow new people to see more posts.</span>
        </div>
    </div>

{% endblock content %}

{% block script %}
<script src="{% static 'js/posts_load_index_by_scroll.js' %}"></script>
<script src="{% static 'js/scroll_comments.js' %}"></script>
{% endblock %}