{% extends 'core/base.html' %}
{% load static %}
{% block title %} {{page_user.username}} profile {% endblock title %}
{% block content %}


<div class="profile">
	<div class="profile-info">
		<div class="user-profile-photo">
			<img src="{{page_user_profile.profileimg.url}}" style="height: 150px; width: 150px; border-radius: 100px; " alt="">
		</div>

		<div class="user-profile-data">
			<div class="user-profile-username">
				<div>
					<p style="margin-left: 70px;font-size: 30px; font-family:cursive;">{{page_user.username}}</p>
				</div>

					{% if not is_owner %}
						{% if is_subscribed %}
							<button class="btn-follow bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-2 mr-2 rounded flex items-center justify-center" data-userid="{{ page_user_profile.user_id }}">
								Unfollow
							</button>
							{% else %}
							<button class="btn-follow bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-2 mr-2 rounded flex items-center justify-center" data-userid="{{ page_user_profile.user_id }}">
								Follow
							</button>
						{% endif %}

						<form action="{% url 'start-dialog' %}" method="POST">
							{% csrf_token %}
							<input type="hidden" value="{{page_user.id}}" name="page_owner_id">
							<button class="btn-follow bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-2 mr-2 rounded flex items-center justify-center" data-userid="{{ page_user_profile.user_id }}">
								Message
							</button>
						</form>

					{% elif is_owner %}
						<a href="{% url 'settings' %}" class="btn btn-sm btn-primary">Edit profile</a>
					{% endif %}

			</div>

			<div class="subscribe-data">
				{% if user_post_length == 1 %}
				<div><span class="number-style">{{user_post_length}}</span> post</div>
				{% else %}
				<div><span class="number-style">{{user_post_length}}</span> posts</div>
				{% endif %}

				<div class="update-follower-data">
					{% if user_followers == 0 or user_followers == 1 %}
					<a href="{% url 'followers' %}">
						<div><span class="number-style">{{user_followers}}</span> follower</div>
					</a>
					{% else %}
					<a href="{% url 'followers' %}">
						<div><span class="number-style">{{user_followers}}</span> followers</div>
					</a>
					{% endif %}
				</div>

				<div>
					<a href="{% url 'following' %}">
						<div><span class="number-style">{{user_following}}</span> following</div>
					</a>
				</div>
			</div>

			<div class="subscribe-data">
				<div>{{page_user.profiles.all.first.bio}}</div>

			</div>

		</div>

	</div>

	<div class="photo-grid" id="post_list">
			{% include 'core/profile_ajax.html' %}
	</div>

	<div class="center-align" id="end_posts">
            This is all posts.
        </div>

        <div class="row">
            <div class="col m12 s12 center-align">
                <button class="btn waves-effect waves-light" id="lazy_more">
                    More posts
                </button>
            </div>
        </div>

</div>


<!--<div class="col-lg-6">-->
<!--	<div class="central-meta">-->
<!--		<ul class="photos">-->

<!--			{% for post in user_posts %}-->
<!--			<li>-->
<!--				<a class="strip" href="{{post.image.url}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">-->
<!--					<img src="{{post.image.url}}" style="height: 250px; width: 300px;" alt=""></a>-->
<!--			</li>-->
<!--			{% endfor %}-->


<!--		</ul>-->
<!--		&lt;!&ndash;<div class="lodmore"><button class="btn-view btn-load-more"></button></div>&ndash;&gt;-->
<!--	</div>&lt;!&ndash; photos &ndash;&gt;-->
<!--</div>-->
{% endblock content %}

{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/post_view_for_profile.js' %}"></script>
<script src="{% static 'js/posts_load_profile_by_button.js' %}"></script>
<script src="{% static 'js/get_csrf.js' %}"></script>
<script src="{% static 'js/post_js_functions.js' %}"></script>
{% endblock %}